* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
    font-family: 'Tenor Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Rubik', sans-serif;
}
.info{
    width: 160px;
    height: 50px;
    float: left; 
    width: 60%;
    margin-left: 50px;
 
}
span{
    font-size: 30px;
    margin: 20px;
    background-color: rgb(158, 195, 167);
}

canvas {
    margin: 15px;
    border: 1px solid #999999;
    float: right; 
    width: 40%;
    margin-right: 150px;

    
}

.mTop {
    position:sticky;
left:50px;
top:0px;

}

#info {
    float: left;
    margin-left: 70px;
    margin-top: 20px;

}
.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

